:root {
  --background: #fcf9f5;
  --background-alt: #faf4ed;
  --text: #333;
  --text-muted: #666;
  --border: #f8ede1;
}

.dark {
  --background: #131220;
  --background-alt: #242137;
  --text: #fff;
  --text-muted: #ccc;
  --border: #302c48;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

.container {
  @apply w-full max-w-full xl:max-w-[1280px] mx-auto px-6;
}

h1 {
  @apply font-headings text-text leading-none mb-10;
  font-size: clamp(22px, calc(3rem + 2vw), 78px);

  &.blog-heading {
    font-size: clamp(22px, calc(2rem + 2vw), 62px);
  }
}

.post-content {
  font-size: clamp(16px, calc(0.7rem + 1vw), 20px);
  @apply leading-[1.8] xl:leading-[1.8] text-text-muted;

  * {
    @apply my-6 first:mt-0 last:mb-0 empty:my-0;
  }

  h2 {
    font-size: clamp(22px, calc(1rem + 1.5vw), 40px);
    text-wrap: balance;

    @apply font-headings scroll-mt-12 text-text mt-16 leading-[1.2] xl:text-[2.2rem] font-semibold max-w-[40ch] first:mt-0 last:mb-0;
  }

  h3 {
    font-size: clamp(17px, calc(0.8rem + 1vw), 28px);
    text-wrap: balance;

    @apply font-headings scroll-mt-12 text-text mt-16 leading-[1.2] xl:text-[1.6rem] font-semibold max-w-[40ch];
  }

  section {
    @apply mt-16;
  }

  a {
    @apply text-[#8E5CF7] underline underline-offset-4 hover:underline-offset-2;
  }

  .notion-video {
    button {
      @apply m-0 border-8 border-border aspect-[16/9] w-full relative overflow-hidden rounded-xl cursor-pointer after:content-["►"] after:text-7xl after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:text-white before:absolute before:inset-0 before:bg-black/10;
    }

    iframe {
      @apply relative z-10;
    }
  }

  .notion-callout {
    @apply p-6 rounded-lg bg-background-alt;

    p {
      @apply text-base;
    }

    h2,
    h3 {
      @apply mt-0;
    }
  }

  code:not(pre > code) {
    @apply inline-block bg-background-alt text-[#EA9D34] dark:text-[#F6C177] rounded-lg px-2 py-1 text-base my-0;
  }

  .shiki {
    @apply p-4 rounded-lg overflow-auto text-base my-0;

    code {
      counter-reset: step;
      counter-increment: step 0;

      .line::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, 0.4);
      }
    }
  }

  ul,
  ol {
    @apply pl-1 my-6 first:mt-0 last:mb-0;

    ul,
    ol {
      @apply my-0;
    }
  }

  li {
    @apply relative my-2 pl-8 before:absolute before:left-0;
  }

  ul li {
    @apply before:content-["●"] before:top-[0.875em] before:text-xs;

    li {
      @apply before:content-['○'];

      li {
        @apply before:content-['■'];
      }
    }
  }

  ol > li {
    counter-increment: step 1;

    &:before {
      content: counter(step) ". ";
    }

    li {
      counter-reset: step;
      counter-increment: alphabet 1;

      &:before {
        content: counter(alphabet, lower-alpha) ". ";
      }

      li {
        counter-reset: alphabet;
        counter-increment: roman 1;

        &:before {
          content: counter(roman, lower-roman) ". ";
        }
      }
    }
  }

  .notion-image {
    img {
      @apply w-full rounded-xl border-8 border-border;
    }
  }

  .notion-caption {
    @apply text-center px-6 text-text-muted text-xs py-2 -mt-2 font-medium bg-border rounded-b-xl;
  }

  blockquote {
    @apply relative my-6 p-6 bg-background-alt border-l-8 border-[#8E5CF7] text-text-muted;
  }
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
