---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";

export const slugify = (text: string) => {
  return text
    .toString()
    .normalize("NFD")
    .replace(/[\u0300-\u036f]/g, "")
    .toLowerCase()
    .trim()
    .replace(/[^a-z0-9 ]/g, "")
    .replace(/\s+/g, "-");
};

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const extractedTags = posts
    .map((post) => {
      return post.data.properties.tags;
    })
    .flat();

  const uniqueTags = [...new Set(extractedTags)];

  return uniqueTags.map((tag) => {
    const taggedPosts = posts.filter((post) => {
      return post.data.properties.tags.includes(tag);
    });

    return {
      params: {
        slug: slugify(tag),
      },
      props: {
        tag,
        posts: taggedPosts,
      },
    };
  });
}

const { tag, posts } = Astro.props;
---

<Layout>
  <main class="container pt-14">
    <div class="max-w-[1008px] mx-auto">
      <h1>
        {tag}
      </h1>
      <div class="grid sm:grid-cols-2 gap-6">
        {posts.map((post) => <PostCard post={post} />)}
      </div>
    </div>
  </main>
</Layout>
