---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <main class="container pt-14 flex flex-col items-center justify-center grow">
    <h1
      class="text-center text-[30vw] leading-[0.8] max-w-[8em] md:text-[230px]"
    >
      404
    </h1>
    <p class="text-xl">Page could not be found.</p>
  </main>
</Layout>
