---
import Layout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import Sam from "../assets/sam.jpg";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/src/assets/blog-placeholder-about.jpg"
>
  <main class="container pt-14">
    <header class="max-w-[1008px] mx-auto">
      <h1>
        Hi, I’m Samuel Horn. Developer, Creator, and Productivity Enthusiast.
      </h1>
    </header>
    <div class="flex flex-col md:flex-row gap-12 justify-center">
      <div class="max-w-[700px] order-2 md:order-1">
        <div class="post-content">
          <p>
            I’m Samuel Horn, a developer and creator passionate about making
            work smarter and more fulfilling. By day, I serve as a Senior
            Creative Developer for the headless CMS startup <a
              href="https://prismic.io"
              target="_blank">Prismic</a
            >, where I blend my love for clean design with modern web
            development. Outside of work, I share insights on tools, workflows,
            and productivity strategies to inspire others to explore new ideas
            and create something meaningful.
          </p>
          <p>
            I've been building websites for about 30 years, starting in my
            teenage years on my family's first PC when the internet was just
            emerging. However, my professional journey began in design, where I
            created 3D visualizations for products and architecture. It wasn’t
            long before I rediscovered my passion for web design, which led me
            into front-end development. This path allowed me to combine
            creativity with problem-solving. Over the years, I’ve worked on
            projects that leverage modern web technologies, and I’ve become
            deeply invested in optimizing workflows for developers and creators.
          </p>
          <p>
            Here, you’ll find actionable tips on web development, productivity
            hacks to simplify your workflow, and tools to help you create
            meaningful projects. I also aim to share lessons from my own side
            projects and experiences to inspire others to take the leap.
          </p>
          <p>
            If you’re ready to work smarter, build better, and stay inspired,
            explore my blog, check out my <a
              href="https://www.youtube.com/@samuelhorncom"
              target="_blank">YouTube channel</a
            >, or subscribe to my newsletter. You can also connect with me on <a
              href="https://x.com/samuelhorncom"
              target="_blank">X</a
            >, <a href="https://bsky.app/profile/samuelhorn.com" target="_blank"
              >Bluesky</a
            >, or <a
              href="https://www.linkedin.com/in/samuelhorncom"
              target="_blank">LinkedIn</a
            >.
          </p>
        </div>
      </div>
      <aside class="min-w-[180px] lg:max-w-[260px] order-1 md:order-2">
        <Image
          src={Sam}
          alt="Samuel Horn"
          class="w-full mt-0 rounded-2xl border-8 border-border"
        />
      </aside>
    </div>
  </main>
</Layout>
