---
import { getCollection } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

const posts = await getCollection("blog");
---

<Layout>
  <main class="container pt-14">
    <div class="max-w-[1008px] mx-auto">
      <h1>
        Exploring Development, Productivity, and the Tools That Shape Them
      </h1>
      <div class="post-content max-w-[700px]">
        <p>
          I’m sharing what works for me as a developer and creator — tools,
          tips, and processes that help me build meaningful projects.
        </p>
      </div>
      <section class="mt-16">
        <header>
          <h2 class="text-2xl font-headings">Latest posts</h2>
        </header>
        <div class="grid grid-cols-2 gap-6 mt-6">
          {posts.map((post) => <PostCard post={post} />)}
        </div>
      </section>
    </div>
  </main>
</Layout>
