---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <main class="container pt-14 flex items-center justify-center grow">
    <h1
      class="text-center text-[12vw] leading-[0.8] md:text-[92px] max-w-[8em]"
    >
      New site in progress
    </h1>
  </main>
</Layout>
