---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer
  class="flex flex-col items-center justify-between container gap-6 mt-24 mb-12"
>
  <SocialLinks />
  <span class="opacity-70 font-medium text-sm text-center">
    &copy; {today.getFullYear()} Samuel Horn af Rantzien. All rights reserved.
  </span>
</footer>
