---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer
  class="flex flex-col items-center justify-between container gap-6 my-24"
>
  <SocialLinks />
  <span class="opacity-50 font-medium text-sm">
    &copy; {today.getFullYear()} Samuel Horn af Rantzien. All rights reserved.
  </span>
</footer>
