---
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";
import Logo from "./Logo.astro";
import MenuItems from "./MenuItems.astro";
import SocialLinks from "./SocialLinks.astro";
import Menu from "./Menu.astro";
import MenuButton from "./MenuButton.astro";
---

<header>
  <nav class="flex items-center relative container justify-between mt-14 mb-14">
    <Menu>
      <MenuButton class="md:hidden" />
      <MenuItems class="hidden md:flex" />
    </Menu>
    <a
      href="/"
      aria-label={SITE_TITLE}
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <Logo />
    </a>

    <div class="flex items-center gap-6">
      <SocialLinks size="20" class="hidden md:flex" />
      <ThemeIcon />
    </div>
  </nav>
</header>
