---
import Link from "./NavigationLink.astro";

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<nav
  class:list={[
    "absolute border border-border flex flex-col z-10 p-6 rounded-lg min-w-52 shadow-2xl top-8 left-6 bg-background gap-4 font-bold nav-toggle md:relative md:left-auto md:top-auto md:flex-row md:p-0 md:border-none md:bg-none",
    className,
  ]}
  {...rest}
  id="navLinks"
>
  <Link href="/">Home</Link>
  <Link href="/posts">Journal</Link>
  <Link href="/about">About</Link>
  <div
    class="indicator h-0.5 bg-[#8E5CF7] absolute -bottom-2"
    transition:persist
  >
  </div>
</nav>

<script>
  import { animate } from "motion";

  const updateIndicator = () => {
    const element = document.querySelector("a.active")! as HTMLElement;

    if (!element) {
      return;
    }

    const { offsetLeft, offsetWidth } = element;

    document.querySelectorAll("#navLinks a").forEach((link) => {
      if (link !== element) {
        link.classList.remove("opacity-50");
      }
    });

    element.classList.add("opacity-50");

    animate(
      ".indicator",
      {
        left: offsetLeft,
        width: offsetWidth,
      },
      {
        type: "spring",
        stiffness: 500,
        damping: 30,
      }
    );
  };

  document.addEventListener("astro:after-swap", updateIndicator);

  updateIndicator();
</script>
