---
const { size = 24, class: className } = Astro.props;
---

<div class:list={["flex items-center justify-center gap-2", className]}>
  <a
    href="https://www.youtube.com/@samuelhorncom"
    target="_blank"
    aria-label="Follow Samuel Horn on YouTube"
    class="hover:opacity-70 transition-opacity"
  >
    <svg
      style={{ width: size + "px", height: size + "px" }}
      viewBox="0 0 256 256"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M191.14 51H64.8604C40.0847 51 20 71.2362 20 96.1988V159.801C20 184.764 40.0847 205 64.8604 205H191.14C215.915 205 236 184.764 236 159.801V96.1988C236 71.2362 215.915 51 191.14 51ZM160.801 131.094L101.736 159.477C100.162 160.234 98.3441 159.077 98.3441 157.321V98.7811C98.3441 96.9995 100.21 95.8448 101.787 96.6501L160.852 126.807C162.608 127.704 162.577 130.241 160.801 131.094Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <a
    href="https://bsky.app/profile/samuelhorn.com"
    target="_blank"
    aria-label="Follow Samuel Horn on Bluesky"
    class="hover:opacity-70 transition-opacity"
  >
    <svg
      style={{ width: size + "px", height: size + "px" }}
      viewBox="0 0 256 256"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M71.9191 53.645C94.6193 70.5564 119.036 104.846 128.001 123.247C136.966 104.847 161.381 70.5561 184.082 53.645C200.461 41.4424 227 32.0007 227 62.0447C227 68.0448 223.533 112.449 221.5 119.658C214.433 144.721 188.679 151.114 165.77 147.245C205.814 154.008 216 176.41 194.001 198.811C152.22 241.357 133.949 188.137 129.266 174.5C128.407 172 128.006 170.83 128 171.825C127.994 170.83 127.592 172 126.734 174.5C122.053 188.137 103.782 241.358 61.9989 198.811C39.9992 176.41 50.1855 154.006 90.2298 147.245C67.3206 151.114 41.5664 144.721 34.4999 119.658C32.4666 112.449 29 68.0442 29 62.0447C29 32.0007 55.5394 41.4424 71.918 53.645H71.9191Z"
        fill="currentColor"></path>
    </svg>
  </a>
  <a
    href="https://x.com/samuelhorncom"
    target="_blank"
    aria-label="Follow Samuel Horn on X"
    class="hover:opacity-70 transition-opacity"
  >
    <svg
      style={{ width: size + "px", height: size + "px" }}
      viewBox="0 0 256 256"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M144.761 114.533L210.292 40H194.769L137.844 104.702L92.4128 40H40L108.716 137.851L40 216H55.5232L115.598 147.657L163.587 216H216M61.1259 51.4539H84.9739L194.757 205.109H170.903"
        fill="currentColor"></path>
    </svg>
  </a>
  <a
    href="https://www.linkedin.com/in/samuelhorncom/"
    target="_blank"
    aria-label="Follow Samuel Horn on LinkedIn"
    class="hover:opacity-70 transition-opacity"
  >
    <svg
      style={{ width: size + "px", height: size + "px" }}
      viewBox="0 0 256 256"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M38.3999 192.6H76.7999V77.4H38.3999V192.6Z" fill="currentColor"
      ></path>
      <path
        d="M45.3343 50.9178C48.9328 53.4543 53.199 54.8742 57.5999 55C63.6208 55.0685 69.424 52.7508 73.7413 48.5535C78.0586 44.3561 80.5388 38.6205 80.6399 32.6C80.6381 28.1973 79.3389 23.8928 76.9047 20.2243C74.4705 16.5558 71.0092 13.6859 66.9533 11.9733C62.8974 10.2607 58.4267 9.78134 54.0999 10.595C49.7731 11.4087 45.782 13.4795 42.6253 16.5485C39.4686 19.6175 37.2863 23.5486 36.3511 27.8508C35.4158 32.153 35.7691 36.6354 37.3668 40.7379C38.9645 44.8405 41.7358 48.3812 45.3343 50.9178Z"
        fill="currentColor"></path>
      <path
        d="M179.2 192.6H217.6L217.088 122.968C217.088 87.128 193.92 76.12 174.08 76.12C167.267 75.8981 160.511 77.4294 154.46 80.5672C148.408 83.7049 143.264 88.344 139.52 94.04V77.4H102.4V192.6H140.8V132.824C140.736 132.228 140.736 131.628 140.8 131.032C140.591 128.106 140.962 125.167 141.893 122.385C142.823 119.602 144.294 117.031 146.22 114.819C148.147 112.607 150.492 110.797 153.12 109.494C155.749 108.19 158.609 107.419 161.536 107.224C171.52 107.224 179.2 113.752 179.2 131.928V192.6Z"
        fill="currentColor"></path>
    </svg>
  </a>
</div>
